# 필요 모듈 로딩

In [1]:
# Ignore the warnings
import warnings
# warnings.filterwarnings('always') # 이렇게 해주면 항상 warning이 뜸
warnings.filterwarnings('ignore')

# System related and data input controls
import os

# Data manipulation and visualization
import pandas as pd

# 판다스에서 띄우는 float형은 소숫점 2번째까지 뛰웁니다.
pd.options.display.float_format = '{:,.2f}'.format 

# 판다스에서 표시되는 행의 개수는 최대 100개입니다.
# 위에서 50개, 밑에서 50개가 나옵니다.
# pd.options.display.max_rows = 100 

# pd.options.display.max_columns = 20 # 최대로 표시되는 컬럼의 개수는 20개입니다. 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Modeling algorithms
# General
import statsmodels.api as sm
from scipy import stats

# Model selection
from sklearn.model_selection import train_test_split

# Evaluation metrics
# for regression
from sklearn.metrics import mean_squared_log_error, mean_squared_error,  r2_score, mean_absolute_error

# 필요 함수 및 변수 로딩
* FE 모듈에서 함수와 변수를 가져옵니다
* raw_all : 캐클 자전거 예측 데이터 셋
* non_feature_engineering() : 기본 피쳐 엔지니어링 함수
* feature_engineering() : 전체 피쳐 엔지니어링 함수
* raw_nfe : non_feature_engineering()로 raw_all를 전처리한 데이터 셋
* raw_fe : feature_engineering()로 raw_all를 전처리한 데이터 셋

In [2]:
import import_ipynb
from FE import feature_engineering
from FE import non_feature_engineering

%store -r raw_all
%store -r raw_nfe
%store -r raw_fe

importing Jupyter notebook from FE.ipynb
Stored 'raw_all' (DataFrame)
Stored 'raw_nfe' (DataFrame)
Stored 'raw_fe' (DataFrame)

In [3]:
raw_all

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00,1,0,0,1,9.84,14.39,81,0.00,3,13,16
1,2011-01-01 1:00,1,0,0,1,9.02,13.63,80,0.00,8,32,40
2,2011-01-01 2:00,1,0,0,1,9.02,13.63,80,0.00,5,27,32
3,2011-01-01 3:00,1,0,0,1,9.84,14.39,75,0.00,3,10,13
4,2011-01-01 4:00,1,0,0,1,9.84,14.39,75,0.00,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31 19:00,1,0,1,2,10.66,12.88,60,11.00,11,108,119
17375,2012-12-31 20:00,1,0,1,2,10.66,12.88,60,11.00,8,81,89
17376,2012-12-31 21:00,1,0,1,1,10.66,12.88,60,11.00,7,83,90
17377,2012-12-31 22:00,1,0,1,1,10.66,13.63,56,9.00,13,48,61
17378,2012-12-31 23:00,1,0,1,1,10.66,13.63,65,9.00,12,37,49

In [4]:
raw_nfe

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
DateTime,,,,,,,,,,,,
2011-01-01 00:00:00,2011-01-01 00:00:00,1,0,0,1,9.84,14.39,81,0.00,3,13,16
2011-01-01 01:00:00,2011-01-01 01:00:00,1,0,0,1,9.02,13.63,80,0.00,8,32,40
2011-01-01 02:00:00,2011-01-01 02:00:00,1,0,0,1,9.02,13.63,80,0.00,5,27,32
2011-01-01 03:00:00,2011-01-01 03:00:00,1,0,0,1,9.84,14.39,75,0.00,3,10,13
2011-01-01 04:00:00,2011-01-01 04:00:00,1,0,0,1,9.84,14.39,75,0.00,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 19:00:00,2012-12-31 19:00:00,1,0,1,2,10.66,12.88,60,11.00,11,108,119
2012-12-31 20:00:00,2012-12-31 20:00:00,1,0,1,2,10.66,12.88,60,11.00,8,81,89
2012-12-31 21:00:00,2012-12-31 21:00:00,1,0,1,1,10.66,12.88,60,11.00,7,83,90
2012-12-31 22:00:00,2012-12-31 22:00:00,1,0,1,1,10.66,13.63,56,9.00,13,48,61
2012-12-31 23:00:00,2012-12-31 23:00:00,1,0,1,1,10.66,13.63,65,9.00,12,37,49

In [5]:
raw_nfe

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
DateTime,,,,,,,,,,,,
2011-01-01 00:00:00,2011-01-01 00:00:00,1,0,0,1,9.84,14.39,81,0.00,3,13,16
2011-01-01 01:00:00,2011-01-01 01:00:00,1,0,0,1,9.02,13.63,80,0.00,8,32,40
2011-01-01 02:00:00,2011-01-01 02:00:00,1,0,0,1,9.02,13.63,80,0.00,5,27,32
2011-01-01 03:00:00,2011-01-01 03:00:00,1,0,0,1,9.84,14.39,75,0.00,3,10,13
2011-01-01 04:00:00,2011-01-01 04:00:00,1,0,0,1,9.84,14.39,75,0.00,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 19:00:00,2012-12-31 19:00:00,1,0,1,2,10.66,12.88,60,11.00,11,108,119
2012-12-31 20:00:00,2012-12-31 20:00:00,1,0,1,2,10.66,12.88,60,11.00,8,81,89
2012-12-31 21:00:00,2012-12-31 21:00:00,1,0,1,1,10.66,12.88,60,11.00,7,83,90
2012-12-31 22:00:00,2012-12-31 22:00:00,1,0,1,1,10.66,13.63,56,9.00,13,48,61
2012-12-31 23:00:00,2012-12-31 23:00:00,1,0,1,1,10.66,13.63,65,9.00,12,37,49

# 데이터 셋 분리

In [6]:
# raw_fe에 결측치가 있는지 확인합니다. 
raw_fe.isnull().sum().sum()

0

In [7]:
# target으로 쓸 컬럼명은 Y_colname, feature 데이터 셋에서 제거할 컬럼명은 X_remove에 담아줍니다.
Y_colname = ['count']
X_remove = ['datetime', 'DateTime', 'temp_group', 'casual', 'registered']

In [8]:
Y_colname+X_remove

['count', 'datetime', 'DateTime', 'temp_group', 'casual', 'registered']

In [9]:
# raw_fe에는 DataTime 칼럼이 없다.
print(len(raw_fe.columns))
print(raw_fe.columns)

29
Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'count_trend', 'count_seasonal', 'count_Day', 'count_Week',
       'count_diff', 'temp_group', 'Year', 'Quater_ver2', 'Month', 'Day',
       'Hour', 'DayofWeek', 'count_lag1', 'count_lag2', 'Quater_Dummy_2',
       'Quater_Dummy_3', 'Quater_Dummy_4'],
      dtype='object')

In [10]:
# 피쳐 데이터 셋으로 쓸 컬럼명이 들어있는 X_colname을 만들어줍니다.
X_colname = [x for x in raw_fe.columns if x not in Y_colname+X_remove]
print(len(X_colname))
print(X_colname)

24
['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'windspeed', 'count_trend', 'count_seasonal', 'count_Day', 'count_Week', 'count_diff', 'Year', 'Quater_ver2', 'Month', 'Day', 'Hour', 'DayofWeek', 'count_lag1', 'count_lag2', 'Quater_Dummy_2', 'Quater_Dummy_3', 'Quater_Dummy_4']

In [13]:
# 비시계열 데이터 분리 방법
# raw_fe를 피쳐와 타켓을 구분해서 train과 test 데이터 셋으로 나눕니다.
# X_train, X_test, Y_train, Y_test = train_test_split(raw_fe[X_colname], raw_fe[Y_colname], test_size = 0.2, random_state=123)
# print("train 데이터 셋 :", X_train.shape, Y_train.shape)
# print("test 데이터 셋 : ", X_test.shape, Y_test.shape)

train 데이터 셋 : (14035, 24) (14035, 1)
test 데이터 셋 :  (3509, 24) (3509, 1)

In [16]:
raw_fe

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,Quater_ver2,Month,Day,Hour,DayofWeek,count_lag1,count_lag2,Quater_Dummy_2,Quater_Dummy_3,Quater_Dummy_4
DateTime,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,2011-01-01 00:00:00,1,0,0,1,9.84,14.39,81,0.00,3,...,1,1,1,0,5,16.00,16.00,0,0,0
2011-01-01 01:00:00,2011-01-01 01:00:00,1,0,0,1,9.02,13.63,80,0.00,8,...,1,1,1,1,5,16.00,16.00,0,0,0
2011-01-01 02:00:00,2011-01-01 02:00:00,1,0,0,1,9.02,13.63,80,0.00,5,...,1,1,1,2,5,40.00,16.00,0,0,0
2011-01-01 03:00:00,2011-01-01 03:00:00,1,0,0,1,9.84,14.39,75,0.00,3,...,1,1,1,3,5,32.00,40.00,0,0,0
2011-01-01 04:00:00,2011-01-01 04:00:00,1,0,0,1,9.84,14.39,75,0.00,0,...,1,1,1,4,5,13.00,32.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 19:00:00,2012-12-31 19:00:00,1,0,1,2,10.66,12.88,60,11.00,11,...,8,12,31,19,0,122.00,164.00,0,0,1
2012-12-31 20:00:00,2012-12-31 20:00:00,1,0,1,2,10.66,12.88,60,11.00,8,...,8,12,31,20,0,119.00,122.00,0,0,1
2012-12-31 21:00:00,2012-12-31 21:00:00,1,0,1,1,10.66,12.88,60,11.00,7,...,8,12,31,21,0,89.00,119.00,0,0,1
2012-12-31 22:00:00,2012-12-31 22:00:00,1,0,1,1,10.66,13.63,56,9.00,13,...,8,12,31,22,0,90.00,89.00,0,0,1
2012-12-31 23:00:00,2012-12-31 23:00:00,1,0,1,1,10.66,13.63,65,9.00,12,...,8,12,31,23,0,61.00,90.00,0,0,1

In [19]:
# 시계열 데이터셋 분리방법
raw_train = raw_fe.loc[raw_fe.index < '2012-07-01', :]
raw_test = raw_fe.loc[raw_fe.index > '2012-07-01', :]
X_train = raw_train[X_colname]
Y_train = raw_train[Y_colname]
X_test = raw_test[X_colname]
Y_test = raw_test[Y_colname]

print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(13128, 24) (13128, 1)
(4415, 24) (4415, 1)

In [20]:
### Functionalize
### 횡단면 데이터 분리
def datasplit_cs(raw, Y_colname, X_colname, test_size, random_seed=123):
    X_train, X_test, Y_train, Y_test = train_test_split(raw[X_colname], raw[Y_colname], test_size=test_size, random_state=random_seed)
    print('X_train:', X_train.shape, 'Y_train:', Y_train.shape)
    print('X_test:', X_test.shape, 'Y_test:', Y_test.shape)
    return X_train, X_test, Y_train, Y_test
# X_train, X_test, Y_train, Y_test = datasplit_cs(raw_fe, Y_colname, X_colname, 0.2)


### 시계열 데이터 분리
def datasplit_ts(raw, Y_colname, X_colname, criteria):
    raw_train = raw.loc[raw.index < criteria,:]
    raw_test = raw.loc[raw.index >= criteria,:]
    Y_train = raw_train[Y_colname]
    X_train = raw_train[X_colname]
    Y_test = raw_test[Y_colname]
    X_test = raw_test[X_colname]
    print('Train_size:', raw_train.shape, 'Test_size:', raw_test.shape)
    print('X_train:', X_train.shape, 'Y_train:', Y_train.shape)
    print('X_test:', X_test.shape, 'Y_test:', Y_test.shape)
    return X_train, X_test, Y_train, Y_test
# X_train, X_test, Y_train, Y_test = datasplit_ts(raw_fe, Y_colname, X_colname, '2012-07-01')

In [21]:
# Confirm of input and output
Y_colname = ['count']
X_remove = ['datetime', 'DateTime', 'temp_group', 'casual', 'registered']
X_colname = [x for x in raw_fe.columns if x not in Y_colname+X_remove]
X_train, X_test, Y_train, Y_test = datasplit_ts(raw_fe, Y_colname, X_colname, '2012-07-01')

Train_size: (13128, 29) Test_size: (4416, 29)
X_train: (13128, 24) Y_train: (13128, 1)
X_test: (4416, 24) Y_test: (4416, 1)